<!DOCTYPE html>
<html>
<head>
  <title>JocelynEricRailsDay2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert] %>
  <p style="color:red;"><%= flash[:alert] %></p>
<% end %>

<% if flash[:success] %>
  <p style="color:green;"><%= flash[:success] %></p>
<% end %>

<%= yield %>

</body>
</html>
